* {
    margin: 0;
    padding: 0;
  }

.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  @media(min-aspect-ratio: 16/9) {
    .banner video{
      width: 100%;
      height: auto;
    }
    
  }
  .logo {
    float: right;
  }
  
  nav {
  
    background-color: (45deg, #1F618D, #8E44AD, #F8F9F9, #85C1E9, #D2B4DE);
  }
  
  nav ul {
    margin-top: -40px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: -6px;
  
  }
  
  nav li {
    height: 25px;
  }
  
  nav {
    text-align: left;
  }
  
  nav a {
    height: 100%;
    padding: 0px 20px;
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
  
  nav a:hover {
    background-color: grey;
  
  }
  
  nav li:first-child {
    margin-right: auto;
    text-size-adjust: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw -1300ox)/2);
  }
  
  .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
  }
  
  .column-left h1 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    margin-left: 40px;
  }
  
  .column-left p {
    margin-bottom: 2rem;
    margin-left: 40px;
    font-size: 1.75rem;
  
  }